# Lambda build artifacts
*.zip

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# AWS credentials
.aws/

# Temporary files
*.tmp
*.log
